.cafe-card-large-content {
  margin: auto;
  border-radius: 8px;
  padding: 20px;
  width: 262px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  background-color: #ffe6b8;
}

.cafe-card-large {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.cafe-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.cafe-tag {
  color: #f5f5f5;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 14px;
  background-color: var(--sds-color-background-brand-default);
}

.cafe-card-large img{
  width: 250px;
  height: auto;
  border-radius: 8px;

}

