.search-container {
  font-family: "Inter", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

/* Map Section Styles */
.map-section {
  position: relative;
  height: 808px;
}

.autocomplete-container {
  width: 80vh;
}


.search-content {
  padding: 40px 76px;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.cafe-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.load-more-button {
  color: #f5f5f5;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  margin: 40px auto;
  display: block;
  background-color: var(--sds-color-background-brand-default);
  cursor: pointer;
}

.footer {
  padding: 48px 80px;
  background-color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  font-size: 24px;
  color: #000;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-topic {
  font-size: 16px;
  color: #000;
}

.footer-page {
  font-size: 16px;
  color: #454545;
}

.social-links {
  display: flex;
  gap: 8px;
}

.social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

@media (max-width: 991px) {

  .search-content {
    padding: 30px;
  }
}

@media (max-width: 640px) {

  .search-content {
    padding: 20px;
  }

  .footer {
    padding: 30px 20px;
  }

  .footer-content {
    flex-direction: column;
    gap: 30px;
  }
}