.search-container {
  font-family: "Inter", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 76px;
  height: 164px;
  background-color: #e6e6e6;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo {
  font-size: 20px;
  color: #000;
}

.nav-links {
  display: flex;
  gap: 48px;
  padding: 11px 31px;
}

.nav-link {
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

.search-content {
  padding: 40px 76px;
}

.section-title {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.cafe-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.load-more-button {
  color: #f5f5f5;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  margin: 40px auto;
  display: block;
  background-color: var(--sds-color-background-brand-default);
  cursor: pointer;
}

.footer {
  padding: 48px 80px;
  background-color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  font-size: 24px;
  color: #000;
}

.footer-links {
  display: flex;
  gap: 40px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-topic {
  font-size: 16px;
  color: #000;
}

.footer-page {
  font-size: 16px;
  color: #454545;
}

.social-links {
  display: flex;
  gap: 8px;
}

.social-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

@media (max-width: 991px) {
  .nav-bar {
    padding: 30px 40px;
  }

  .nav-links {
    padding: 8px 20px;
    gap: 30px;
  }

  .search-content {
    padding: 30px;
  }
}

@media (max-width: 640px) {
  .nav-bar {
    padding: 20px;
    height: auto;
    flex-direction: column;
    gap: 20px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }

  .search-content {
    padding: 20px;
  }

  .footer {
    padding: 30px 20px;
  }

  .footer-content {
    flex-direction: column;
    gap: 30px;
  }
}
