.landing-hero {
  height: 576px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../Assets/cafe_thumbnail.jpg") lightgray 50% / cover no-repeat;
  display: flex;
  align-items: flex-end;
  padding-bottom: 60px;
}

.landing-hero-title {
  color: #f5f5f5;
  font-size: 64px;
  font-weight: 700;
  letter-spacing: -1.28px;
  width: 100%;
  padding: 0 2px;
  padding-left: 2px;
}



.landing-container {
  font-family: "Inter", sans-serif;
  width: 100%;
  min-height: 100vh;
}
.landing-body{
    padding: 100px 0px 100px 15px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem ;

}
img{
    width: 100%;
    max-width: 1000px;
    object-fit:cover;
    vertical-align: middle;

}

.text-container{
    flex: 1;
    padding-left: 100px;
}

.text-container h1{
    text-align: center;

}

.register{
    text-align: center;

}

.register p{
    font-size: 30px;
}
.register button{
    background-color: #E6E6E6;
    color: black;
    border-radius: 10px;
    font-size: 17px;
    padding: 12px 24px;
    border-style: none;
    cursor: pointer;
}

.login{
    text-align: center;
}

.login p{
    font-size: 30px;
}

.login button{
    
                    display: inline-block;
                    outline: none;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 1;
                    border-radius: 500px;
                    transition-property: background-color,border-color,color,box-shadow,filter;
                    transition-duration: .3s;
                    border: 1px solid transparent;
                    letter-spacing: 2px;
                    min-width: 160px;
                    text-transform: uppercase;
                    white-space: normal;
                    font-weight: 700;
                    text-align: center;
                    padding: 16px 14px 18px;
                    color: #fff;
                    background-color: #15883e;
                    height: 48px;
                    :hover{
                        background-color: #1db954;
                    }
                

}

.landing-reviews-section {
  padding: 40px 116px;
}

.landing-reviews-container {
  display: flex;
  gap: 32px;
}




.landing-footer {
  padding: 48px 80px;
  background-color: #e6e6e6;
}

.landing-footer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.landing-footer-logo {
  font-size: 24px;
  color: #000;
}

.landing-footer-social {
  display: flex;
  gap: 8px;
  margin-top: 40px;
}

.landing-footer-social i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #828282;
  font-size: 20px;
}

.landing-footer-links {
  display: flex;
  gap: 44px;
  margin-top: 20px;
}