.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 76px;
  height: 50px;
  background-color: #e6e6e6;
}

.ourname{
  font-size: 20px;
  color: #000;

}

.navbar{
  display: flex;
  gap: 48px;
  padding: 11px 31px;

}

.nav-items{
  font-size: 20px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  padding-right:10px;
}