/* Filter Section Styles */
.filter-section {
  margin-bottom: 40px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 326px;
  position: relative;
}

.filter-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-label {
  font-size: 16px;
  color: #1e1e1e;
}

.filter-value {
  font-size: 14px;
  color: #1e1e1e;
}

.filter-slider {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  position: relative;
  background-color: var(--sds-color-background-brand-secondary);
}

.filter-slider-track {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.filter-slider-handle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--sds-color-background-brand-default);
}

.filter-slider-space {
  flex: 1;
  height: 6px;
}

.filter-description {
  font-size: 16px;
  color: #757575;
}

.filter-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-tag {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #f5f5f5;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 16px;
  background-color: var(--sds-color-background-brand-default);
}

.filter-icon-container {
  position: absolute;
  right: 20px;
  top: 20px;
}


@media (max-width: 640px) {
  .filter-container {
    width: 100%;
  }
}
