
.cafe-cards-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
}

/* Cafe Card Styles */
.cafe-card {
  border-radius: 8px;
  padding: 20px;
  width: 262px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  background-color: #ffe6b8;
}

/* Cafe Card Styles */
.cafe-card-large-content {
  border-radius: 8px;
  padding: 20px;
  width: 262px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  background-color: #ffe6b8;
}

.cafe-name {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}

.cafe-address {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.cafe-tags {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.cafe-tag {
  color: #f5f5f5;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 14px;
  background-color: var(--sds-color-background-brand-default);
}

.cafe-picture img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Cafe Item Styles */
.cafe-item {
  display: flex;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  background-color: #ffe6b8;
}

.cafe-item-info {
  flex: 1;
}

.cafe-item-name {
  font-size: 32px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.cafe-item-address {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.cafe-item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cafe-item-hours-title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}

.cafe-item-tags {
  display: flex;
  gap: 10px;
}

.cafe-item-link {
  margin-top: 10px;
}

.cafe-item-image {
  width: 322px;
  height: 181px;
  border-radius: 8px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}