.page {
    background-color: #F5F5DC;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.box {
    width: 716px;
    height: 704px;
    background-color: white;
    border-radius: 23px;


}

.title {
    font-size: 40px;
    padding-top: 84px;
    text-align: center;
    padding-bottom: 10px;
}

.alert {

    padding-left: 100px;
    color: red;

}


.email-input {
    padding-left: 100px;
}

.email-text {
    font-size: 40px;
}

.email {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    font-size: 25px;


}

.username-input {
    padding-left: 17px;
}

.username-text {
    font-size: 40px;
}

.username {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    font-size: 25px;


}

.password-input {
    padding-left: 29px;
}

.password-text {
    font-size: 40px;
}

.password {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    font-size: 25px;


}

.center {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 17px;
    padding: 12px 24px;
    border-style: none;
    cursor: pointer;
}

.redirect {
    padding-left: 20px;
    font-size: 20px;
}