.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 3rem 2rem;
  font-family: sans-serif;
  flex-wrap: wrap;
}

.profile-pic-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-color: #ddd;
  border: 2px solid #ccc;
  cursor: pointer;
}

.upload-text {
  color: black;
  margin-top: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;

}

.details-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 400px;
}

.details-section h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.upload-status-message {
  color: red;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.input-row label {
  font-weight: bold;
  min-width: 100px;
}

.input-row input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  background-color: #ddd;
}

.submit-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.signout-button {
  align-self: center;
  background-color: #333;
  color: white;
  border: none;
  padding: 0.6rem 2rem;
  border-radius: 8px;
  margin-top: 1.5rem;
  cursor: pointer;
}


.profile-heading {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}